//colors
$_brown: #260d11;
$_beige: #655847;
$_white: #e7e6df;
$_orange: #c96a34;
$_red: #990e14;
$_dark-red: #6e0b10;

//font-size
// $_13px: 0.8125rem;
// $_64px: 4rem;
// $_24px: 1.5rem;
// $_18px: 1.125rem;
// $_36px: 2.25rem;
// $_30px: 1.875rem;
